.docker_file
.dockerignore
.git
.gitignore
.gitattributes
README.md
.npmrc
.prettierrc
.turbo
.svelte-kit
.eslintrc.cjs
.graphqlrc
.editorconfig
.svelte-kit
.vscode
node_modules
package
**/.env
**/.secret
