# Contacts

|          |                                                                 |
|----------|-----------------------------------------------------------------|
| Email    | [drop.rest.inside@gmail.com](mailto:drop.rest.inside@gmail.com) |
| Telegram | https://t.me/Attvud                                             |
| LinkedIn | https://www.linkedin.com/in/artem-attvud                        |
